.field {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: min-content;
  margin: 30px auto 35px;
}

.square {
  height: 75px;
  width: 75px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  background: #fff;
  border: 1px solid gray;
  outline: none;
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: bold;
  color: darkslateblue;
  cursor: pointer;
}
