.app {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.btn-reset {
  color: #926868;
  border-color: #926868;
}

.btn-reset:hover {
  background-color: #f8f5f5;
}
